<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Home</title>
        <link href="./style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <div class="container">
            <h1>Home</h1>

            <a href="/login">Login</a>
            <br>
            <a href="/register">Register</a>
            <br>
            <a href="/recover">Recover Password</a>
        </div>
    </body>
</html>