<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Login Successful</title>
        <link href="./style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <div class="container">
            <p th:text="'Username: ' + ${user.username}" />

            <form action="#" th:action="@{/logout}" th:object="${user}" method="POST">
                <input type="hidden" name="username" th:field="*{username}" th:value="${user.username}" required/>
                <input type="hidden" name="password" th:field="*{password}" th:value="${user.password}" required/>
                <input type="submit" value="Logout" />
            </form>

            <p th:text="'Online: ' + ${online_users}" />
        </div>
    </body>
</html>