<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration Successful</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <div class="container">
            <h1>Registration Successful</h1>
            <p th:text="'username: ' + ${user.username}" />
            <p th:text="'password: ' + ${user.password}" />

            <a href="/">Home</a>
            |
            <a href="/login">Login</a>
        </div>
    </body>
</html>